.vs/TeamRubicon.AddressValidation.Functions/v15/.suo
.vs/TeamRubicon.AddressValidation.Functions/v15/Server/sqlite3/db.lock
.vs/TeamRubicon.AddressValidation.Functions/v15/Server/sqlite3/storage.ide
TeamRubicon.AddressValidation.Functions/bin/
TeamRubicon.AddressValidation.Functions/obj/
